@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
*{
    box-sizing: border-box;
}

body{
    background-image: url(images/kyrylo-kholopkin-zhvkNtqh3zY-unsplash.jpg); /*Photo by Kyrylo Kholopkin on Unsplash
    */
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'poppins', sans-serif;
    color:rgb(3, 3, 37);
}

.countdown__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1{
    font-size: 4rem;
    font-weight: normal;
}

.big-text{
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.countdown-el {
    text-align: center;
}
.countdown-el span{
    font-size: 1.3rem;
    font-weight: 500;
}